{% extends 'bookstore_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Room Details</title>
</head>
<body>
    <h1>Book Details</h1>
    <p>Title: {{ book.title }}</p>
    <p>Author: {{ book.author }}</p>
    <p>Description: {{ book.description }}</p>
    <p>Published date: {{ book.published_date }}</p>
    <p>Genre: {{ book.genre }}</p>
    <p>Users likes: {{ book.likes }}</p>
    <p>Users dislikes: {{ book.dislikes }}</p>
    <p>Book cover:</p>
    <img src="{{ book.thumbnail }}" alt="Book Cover"><br>
    <form method="post" action="{% url 'book_details' book.id %}">
        {% csrf_token %}
        {{ form.like }}
        {{ form.dislike }}
        {{ form.add_wishlist }}
        <input type="submit" name="action" value="Add to Wishlist"><br>
        <input type="submit" name="action" value="Like"><br>
        <input type="submit" name="action" value="Dislike">
    </form>

    <form method="post" action="{% url 'book_details' book.id %}">
        {% csrf_token %}
        {{ review_form.comment }}
        <input type="submit" name="action" value="Add review">
    </form>
    <ul>
        {% for comm in reviews %}
        <li>
            <strong>{{ comm.user.username }}</strong>:
            {{ comm.comment }} | {{ comm.date_created }}
        </li>
        {% empty %}
        <li>No reviews available.</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
