{% extends 'bookstore_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Your Friends</title>
</head>
<style>
    .remove-button {
            background-color: #413839;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
    }
</style>
<body>
    <h1>Your Friends</h1>
        <form method="get" class="add_button" action="{% url 'add_friend' %}">
            <input type="submit" value="Add a new Friend">
        </form>
    <ul>
    {% for friend in friends %}
        <li>{{ friend.user.username }}</li>
        <form method="post" name="buttons" action="{% url 'remove_friend' friend.id %}">
            {% csrf_token %}
            <input type="hidden" name="friend_id" value="{{ friend.id }}">
            <input type="submit" name="action" value="Remove the friend" class="remove-button">

        </form>
    {% empty %}
        <li>You don't have any friends yet.</li>
    {% endfor %}
</ul>
</body>
</html>
{% endblock %}
