{% extends 'bookstore_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Your Friends</title>
</head>
<body>
    <h1>Your Friends</h1>
        <form method="get" action="{% url 'add_friend' %}">
        <input type="submit" value="Add a new Friend">
        </form>
    <ul>
        {% for friend in friends %}
            <li>{{ friend.user.username }}</li>
        {% empty %}
            <li>You don't have any friends yet.</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
