{% extends 'bookstore_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>List of Books</title>
    <style>
        form {
            display: inline-block;
            margin-right: 10px;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>List of Books</h1>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
    <form method="post" action="{% url 'user_profile' %}">
        {% csrf_token %}
        <input type="submit" value="Your profile">
    </form>
    </form>
    <form method="get" action="{% url 'list_of_friends' %}">
        <input type="submit" value="List of friends">
    </form>
    <form method="get" action="{% url 'wishlist' %}">
        <input type="submit" value="Wishlist">
    </form>
    <form method="get" action="{% url 'wishlist' %}">
        <input type="submit" value="Books Read">
    </form>
    <ul>
        {% for book in books %}
            <li>
                <h3><a href="{% url 'book_details' book.id %}">{{ book.volumeInfo.title }}</a></h3>
                <p><strong>Author:</strong> {{ book.volumeInfo.authors|join:", " }}</p>
            </li>
        {% empty %}
            <p>No books available.</p>
        {% endfor %}
    </ul>
</body>
{% endblock %}
