{% extends 'bookstore_app/base.html' %}
{% block content %}
<h2>Search Results</h2>
{% if books %}
    <ul>
    {% for book in books %}
        <li>
            <h3><a href="{% url 'book_details' book.id %}">{{ book.title }}</a></h3>
            <p><strong>Author:</strong> {{ book.author }}</p>
            {% if book.thumbnail %}
                <img src="{{ book.thumbnail }}" alt="Book Cover">
            <p>Users likes: {{ book.likes }}</p>
            <p>Users dislikes: {{ book.dislikes }}</p>
            {% else %}
                <p>No book cover available.</p>
            {% endif %}
        </li>
    {% empty %}
        <p>No books available.</p>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
