{% extends 'bookstore_app/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Your Page</title>
    <style>
        form {
            display: inline-block;
            margin-right: 10px;
        }
        #user_description {
            margin-top: 20px;
            display: block;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome, {{ user.first_name }} ({{ user.username }})</h1>
<ul>
    {% for notification in notifications %}
    <li {% if not notification.is_read %} class="unread"{% endif %}>
        {{ notification.message }}
        <small>{{ notification.created_at }}</small>
        <form method="post">
                {% csrf_token %}
                <input type="hidden" name="notification_id" value="{{ notification.id }}">
                <button type="submit" name="action" value="remove_from_notifications">Delete</button>
            </form>
    </li>
    {% empty %}
    <li>No notifications.</li>
    {% endfor %}
</ul>


<form method="post">
    {% csrf_token %}
    {{ currently_reading_form.as_p }}
    <button type="submit">Save</button>
</form>
    <h4>Your Currently Reading Book:</h4>
<ul>
    {% if user_profile.currently_reading_book %}
        <a href="{% url 'book_details' user_profile.currently_reading_book.id %}">
            {{ user_profile.currently_reading_book.title }}
        </a>
    {% else %}
        Not currently reading any book.
    {% endif %}
</ul>
    <h4>Your Wishlist:</h4>
<ul>
    {% for book in books_in_wishlist %}
        <li>
            <a href="{% url 'book_details' book.id %}" style="color: black">{{ book.title }}</a>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button type="submit" name="action" value="remove_from_wishlist">Remove</button>
            </form>
        </li>
    {% empty %}
        <li>Your wishlist is empty.</li>
    {% endfor %}
</ul>
<h4>Your Books Read list:</h4>
<ul>
    {% for book in books_in_list %}
    <li>
        <a href="{% url 'book_details' book.id %}" style="color: black">{{ book.title }}</a>
    </li>
    {% empty %}
        <li>Your list is empty.</li>
    {% endfor %}
</ul>
<ul>
    <li>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ avatar_form.as_p }}
            <img src="{{ request.user.avatar.url }}" alt="User Avatar">
            <button type="submit">Upload Avatar</button>
        </form>
    </li>
</ul>
</body>
</html>
{% endblock %}
