{% extends 'bookstore_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Your Page</title>
    <style>
        form {
            display: inline-block;
            margin-right: 10px;
        }
        #user_description {
            margin-top: 20px;
            display: block;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome, {{ user.first_name }}</h1>
    <form method="get" action="{% url 'main' %}">
        <input type="submit" value="Main Page">
    </form>
    <form method="get" action="{% url 'list_of_friends' %}">
        <input type="submit" value="List of friends">
    </form>
    <form  method="get" action="{% url 'wishlist' %}">
        <input type="submit" value="Wishlist">
    </form>
    <form method="get" action="{% url 'wishlist' %}">
        <input type="submit" value="Books Read">
    </form>
    <form id="user_description" method="post" action="{% url 'user_profile' %}">
        {% csrf_token %}
        <h3>Your description:</h3>
        <textarea name="user_description">{{ user_description }}</textarea>
        <button type="submit">Save</button>
    </form>
    <h3>Your Current Description:</h3>
    <p>{{ last_saved_description }}</p>
</body>
</html>
{% endblock %}


<!-- -Opis użytkownika -> do bazy danych-->
<!-- -Listę przeczytanych ksiażek (nie button)-->
<!-- -Button usunięcia konta-->
<!-- -Button edycji konta - opisu-->