{% extends 'bookstore_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Your Page</title>
    <style>
        form {
            display: inline-block;
            margin-right: 10px;
        }
        #user_description {
            margin-top: 20px;
            display: block;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome, {{ user.first_name }} ({{ user.username }})</h1>
<ul>
    {% for notification in notifications %}
    <li {% if not notification.is_read %} class="unread"{% endif %}>
        {{ notification.message }}
        <small>{{ notification.created_at }}</small>
    </li>
    {% empty %}
    <li>No notifications.</li>
    {% endfor %}
</ul>


<form method="post">
    {% csrf_token %}
    {{ currently_reading_form.as_p }}
    <button type="submit">Save</button>
</form>
    <h4>Your Currently Reading Book:</h4>
<ul>
    {% if user_profile.currently_reading_book %}
        {{ user_profile.currently_reading_book.title }}
    {% else %}
        Not currently reading any book.
    {% endif %}
</ul>
    <h4>Your Wishlist:</h4>
<ul>
    {% for book in books_in_wishlist %}
        <li>{{ book.title }}</li>
    {% empty %}
        <li>Your wishlist is empty.</li>
    {% endfor %}
</ul>
</body>
</html>
{% endblock %}


<!-- -Opis użytkownika -> do bazy danych-->
<!-- -Listę przeczytanych ksiażek (nie button)-->
<!-- -Button usunięcia konta-->
<!-- -Button edycji konta - opisu-->