{% extends 'bookstore_app/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
<h1>Wishlist</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add to Wishlist</button>
</form>

<h4>Your Wishlist:</h4>
<ul>
    {% for book in books_in_wishlist %}
        <li><a href="{% url 'book_details' book.id %}">{{ book.title }}</a></li>
        <button type="submit" name="action" value="remove_from_wishlist">Remove</button>
    {% empty %}
        <li>Your wishlist is empty.</li>
    {% endfor %}

</ul>
</body>
</html>
{% endblock %}
